nav#mainNav.navbar.navbar-expand-lg.bg-dark
   .container
      a.navbar-brand(href='/') Red Bicicletas
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
         | Menu 
         i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
         ul.navbar-nav.ml-auto
            li.nav-item
               a.nav-link(href='/bicicletas') Bicicletas
            li.nav-item
               a.nav-link(href='/usuarios') Usuarios
            li.nav-item
               a.nav-link(href='/logout') Logout