extends ../layout

block content
   include ../nav.pug
   .container.my-5
      .row.mb-3.mt-3
         .col-6
            h1 Usuarios
         .col-6.text-right
            a.btn.btn-success(href='/usuarios/create') Nuevo Usuario
      .row
         table.table
            thead
               tr
                  th(scope='col') #
                  th(scope='col') Nombre
                  th(scope='col') Email
                  th(scope='col') Verificado
                  th(scope='col')
                  th(scope='col')
            tbody
               
               each usuario, index in usuarios
                  tr
                     td(scope='row')
                        = index+1
                     td= usuario.nombre
                     td= usuario.email
                     td= usuario.verificado ? 'SI' : 'NO'
                     td 
                        a.btn.btn-primary(href=`/usuarios/${usuario.id}/update`) Editar
                     td
                        form.inline(method='post' action=`usuarios/${usuario.id}/delete`) 
                           input(type='hidden' name='id' value=usuario.id)
                           button.btn.btn-danger(type='submit' name='submit_param' value=usuario.id) Eliminar
               if usuarios.length === 0
                  tr
                     td(colspan='6' class='text-center') No hay usuarios