extends ../layout

block content
   include ../nav.pug
   .container.my-5

      h1.my-4 Nueva Bicicleta

      form(action='/bicicletas/create' method='post')
         .form-group
            label(for='code') Código:
            input#code.form-control(type='text', name='code', value=bicicleta.code, class=errors.code ? 'is-invalid' : '')
            if errors.code
               small#codeHelp.text-danger
                  = errors.code.message
         .form-group
            label(for='color') Color:
            input#color.form-control(type='text', name='color', value=bicicleta.color, class=errors.color ? 'is-invalid' : '')
            if errors.color
               small#colorHelp.text-danger
                  = errors.color.message
         .form-group
            label(for='modelo') Modelo:
            input#modelo.form-control(type='text', name='modelo',  value=bicicleta.modelo, class=errors.modelo ? 'is-invalid' : '')
            if errors.modelo
               small#modeloHelp.text-danger
                  = errors.modelo.message
         .form-group
            label(for='lat') Latitud:
            input#lat.form-control(type='text', name='lat', value=bicicleta.lat)
         .form-group
            label(for='lng') Longitud:
            input#lng.form-control(type='text', name='lng', value=bicicleta.lng)
         .form-group
            input.btn.btn-primary(type='submit' value='Guardar')
            a.btn.btn-default(href='/bicicletas') Cancelar